|Scenario|Action|Expected results|Actual result| Grade|
|:---|:---|:---|:---|:---|
|1. Start the game|Press button "Game" in main window|Opening a window with a game field containing empty cells| | |
|2. Login/Register|Press Login button|Opening Login form with input validation| | |
| |Press Register button|Opening Registration form with input validation| | |
|3. Choose theme settings|Choosin material design/wooden theme|Setting application theme in chosen design| | |
|4. Lose the game|Opponent has 3 global marks in a row|Output message displayed with text "You lost".Possible to choose next step.| | |
|5. Win the game|You have 3 global marks in a row|Output message displayed with text "You won".Possible to choose next step.| | |
|6. Draw the game|Noone has 3 global marks in a row.No more cells availiable|Output message displayed with text "Draw".
Possible to choose next step.| | |
|6. Review the game rules|Press "Rules" button in main window|Opening a window with text instructions for the game| | |
|7. View user profile|Press "Profile" button in main window|Opening a window with amount of wins/loses/winrate| | |
|8. Start second in a row|In opened dialog host when game ends press button "Restart"|fter pressing restart button field should become availiable again with all cells empty.| | |
|9. Close the app|Press "Exit" icon in the right left corner of main window|Application closes. All windows are closed| | |



